
# 🛑 Ignorar archivos de entorno
.env
.env.local
.env.production
.env.development

# 🚀 Archivos de dependencias
node_modules/
venv/
env/
__pycache__/
*.pyc
*.pyo

# 🔥 Caché de Python y FastAPI
migrations/
instance/

# 🐳 Docker
docker-compose.override.yml

# 📂 Archivos del sistema y editor
.vscode/
.DS_Store
.idea/
venv/
__pycache__/

